<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - UniversalChatRoom</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/UniversalChatRoom.styles.css" asp-append-version="true" />
</head>
<body>
	<div id="main">
		<header>
			<nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
				<div class="container-fluid">
					<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Universal Chatroom</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Public">Public Chat</a>
							</li>
							@* <li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Test">Test</a>
							</li> *@
						</ul>
						<partial name="_LoginPartial" />
						<!-- Use any element to open the sidenav -->
						<span onclick="openNav()">
							<button class="btn btn-secondary mb-2 mt-2" type="button">Settings</button>
						</span>
					</div>
				</div>
			</nav>
		</header>
		<div id="mySidenav" class="sidenav text-light">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<!-- Dark/Light mode switcher -->
			<ul>
				<li>
					<div class="form-check form-switch ms-auto mt-3 me-3">
						<label class="form-check-label ms-3" for="lightSwitch">
							<svg xmlns="http://www.w3.org/2000/svg"
								 width="25"
								 height="25"
								 fill="currentColor"
								 class="bi bi-brightness-high"
								 viewBox="0 0 16 16">
								<path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
							</svg>
						</label>
						<!--<button class="btn btn-primary" type="button" id="lightSwitch">Toggle Dark Mode</button>-->
						<input class="form-check-input" type="checkbox" id="lightSwitch">Toggle Dark Mode</input>
					</div>
				</li>
				<li>
					<form action="@Url.Action("Language", "Home")" method="post" id="languageForm">
						<select id="languageDropdown" name="language">
							<option value="bg">Bulgarian</option>
							<option value="zh">Chinese</option>
							<option value="cs">Czech</option>
							<option value="da">Danish</option>
							<option value="nl">Dutch</option>
							<option selected value="en-US">English (American)</option>
							<option value="en-GB">English (Great Britain)</option>
							<option value="et">Estonian</option>
							<option value="fi">Finnish</option>
							<option value="fr">French</option>
							<option value="de">German</option>
							<option value="el">Greek</option>
							<option value="hu">Hungarian</option>
							<option value="id">Indonesian</option>
							<option value="it">Italian</option>
							<option value="ja">Japanese</option>
							<option value="ko">Korean</option>
							<option value="lv">Latvian</option>
							<option value="lt">Lithuanian</option>
							<option value="nb">Norwegian</option>
							<option value="pl">Polish</option>
							<option value="pt">Portuguese</option>
							<option value="ro">Romanian</option>
							<option value="ru">Russian</option>
							<option value="sk">Slovak</option>
							<option value="sl">Slovenian</option>
							<option value="es">Spanish</option>
							<option value="sv">Swedish</option>
							<option value="tr">Turkish</option>
							<option value="uk">Ukrainian</option>
							<!-- Add more language options as needed -->
						</select>
						<input type="submit" value="Change Language">
					</form>
					<p style="color:white">@ViewBag.selectedLanguage</p>
				</li>
			</ul>
		</div>
		<div class="container">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>

		@*<footer class="border-top footer text-muted">
		<div class="container">
		&copy; 2024 - UniversalChatRoom - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
		</footer>*@
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
		<script src="~/js/switch.js"></script>
		<script src="~/js/push.js"></script>
		<script src="~/js/languageSelection.js"></script>
		@await RenderSectionAsync("Scripts", required: false)
	</div>
</body>
</html>
