@using Microsoft.AspNetCore.Identity;
@model (IEnumerable<Message> messages, TextTranslator tt, IdentityUser user, Profile prof)

@*partial view on all messages imbeded*@
@if (Model.messages.Count() == 0) {

	<h2 class="text-danger">Could Not Connect to Database</h2>

} else {
	<div class="overflow-scroll vh-75">
		@foreach(Message m in Model.messages) {
			<div class="row">
				@{
					var value = (m, Model.tt, Model.user, Model.prof);
					<div class="col-12">
						<partial name="_partialMessageView.cshtml" for="@value" />
					</div>
				}
			</div>
		}
	</div>
}
<form class="d-flex" asp-controller="Home" asp-action="Chat">
	<input name="content" class="form-control" type="search" placeholder="type to chat" />
	<input hidden name="chatroomID" type="number" value="1" />
	<button class="btn btn-secondary col-2" type="submit">Chat</button>
</form>